body {
	background-color:#E4EAED;
	font-family: helvetica;
}

table.content {
	border-color:#CFDBDF; 
	padding:5px; 
	background-color:#CFDBDF; 
	width:90%;
}
table.content tr {
	background-color:#E4EAED; 
}
table.content td {
	background-color:#FFF; 
}

table.nav {
	margin-top: 3px;
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-color: #CFDBDF;
	border-collapse: collapse;
	background-color: #CFDBDF;
	width: 580px;
}
table.nav th {
	border-width: 0px;
	padding: 5px;
	border-style: none;
	border-color: #CFDBDF;
	background-color: #CFDBDF;
}	

